*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}


.mainParent{
    height: 1000px;
    width: 100%;
    /* background-color: rgb(238, 141, 131); */
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    z-index: 1;
}
.navbar .child{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;


}
.navbar .first{
    justify-content: center;
}

.navbar .first i{
    font-size: 20px;
    color: white;
}

.navbar .third{
    color: white;
}

.navbar .third i{
    font-size: 30px;
    padding:  10px;
    margin-left: 20px;
    justify-content: left;
    border-radius: 50%;
}

.navbar .third i:hover{
    transform: scale(0.8);
    transition: 0.7s;
    background-color: gainsboro;
}

.home{
    height: 400px;
    width: 100%;
    position: relative;
    top: 100px;

}

.home .homeContent{
    /* background-color: yellow; */
    height: 300px;
    width: 550px;
    position: absolute;
    top: 120px;
    left: 150px;
    z-index: 1;

}

.home .homeImage img{
    width: 100%;
    position: absolute;
    top: 0;
    /* z-index: -1; */
}

.homeContent h1{
    font-size: 55px;
    font-weight: 100;
    opacity: 60%;
}

.homeContent p{
    font-size: 20px;
    margin-top: 10px;
    opacity: 60%;
}

.homeContent button{
    background-color: #534535;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 20px;
}

.homeContent button:hover{
    background-color: white;
    border: 1px solid crimson ;
    color:  crimson;
    
}

.homeContent h1 span{
    font-weight: 800;
}

.result{
    height: 400px;
    width: 100%;
    /* background-color: yellow ; */
    position: relative;
    top: 122px;
}

.result .heading{
    height: 100px;
    width: 100%;
    margin-top: 50px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result .cards{
    height: 300px;
    width: 100%;
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.result .cards .card{
    height: 200px;
    width: 230px;
    background-color: rgb(242, 208, 214);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px 3px gainsboro;
}

.result .cards .card i{
    font-size: 60px;
    color: crimson;

}

.result .cards .card p{
    font-size: 30px;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
    color: crimson;
    
}

